.drinkcategory,
.greeting,
.popular,
.welcome,
.productName {
  position: absolute;
  left: 24px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #323232;
}

.drinkcategory {
  width: 131px;
  height: 23px;
  top: 265px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.greeting {
  width: auto;
  height: 21px;
  top: 104px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #646464;
  opacity: 0.6;
}

.popular {
  width: 67px;
  height: 23px;
  top: 384px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.welcome {
  width: 180px;
  height: 31px;
  top: 130px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}